.container {
  margin: 6px;
  padding: 12px;
  background-color: rgb(213, 213, 213);
  border-radius: 6px;
  border: 1px solid #CCC;
  color: white;
}

.card {
  width: 305px;
  display: flex;
  flex-direction: column;

  & .name {
    font-size: 20px;
  }
}
